manifest {
	author = 'Claire Marceaux'
	name = 'MIBI-apply-model-nf'
	description = 'Pipeline to apply a trained XGBoost model to unlabelled preprocessed QuPath data.'
	homePage = 'https://github.com/BioimageAnalysisCoreWEHI/MIBI-apply-model'
}

nextflowVersion = '!>=20.07.1'

// Set default workflow parameters
params {
	help	= false
	version	= false
	input = ""
	run_name = ""
	model = ""
	preprocess_scheme = ""
	options_file = "${projectDir}/assets/NO_FILE"
	decoder_file = ""
	images_list = ""
	validation_file = ""
	output_path = ""
	threshold = ""
	memory = "64 GB"
}

// Produce a workflow diagram  
// More info: https://www.nextflow.io/docs/latest/tracing.html#dag-visualisation
dag {
	enabled = true
	overwrite = true
	file = 'runInfo/dag.svg'
}

// Output resource and runtime reports for a workflow run
// More info: https://www.nextflow.io/docs/latest/tracing.html
report {
	enabled = true
	overwrite = true
	file = 'runInfo/report.html'
}

timeline {
	enabled = true
	overwrite = true
	file = 'runInfo/timeline.html'
}

trace {
	enabled = true
	overwrite = true
	file = 'runInfo/trace.txt'
}

profiles {
	cpu { includeConfig "config/cpu.config" }
	gpu { includeConfig "config/gpu.config" }
}

conda.useMicromamba = true